@page
@model MarketPlace.Pages.Manage.UpdateUsersPasswordModel
@{
    ViewData["Title"] = "Update password";
}

<h4 class="display-6" align="center">Update password</h4>

<form method="post" class="center-form">
    <div class="form-group">
        <label for="Input_Password">Password</label>
        <input type="password" class="form-control" id="Input_Password" name="Password">
    </div>
    <div class="form-group">
        <label for="Input_ConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="Input_ConfirmPassword" name="ConfirmPassword">
    </div>
    <button type="submit" class="btn btn-primary center">Update</button>
</form>